*{
  font-family: 'Poppins', sans-serif;
}

/* Table */
.table-hover tr:hover{ 
  cursor:pointer; 
}
td{
  font-weight: 300;
}

/* Card */
.card-container{
  padding: 40px;
  outline: none;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-head-title{
  font-weight: 400;
}

.card-sub-title{
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

/* Map */
.map-container{
  height: 400px;
  width: 100%;
  border-radius: 5px;
  
}

/* Grades */
.grade-container{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  margin-top: 40px;
  
}
.card-grade{
  width: 200px;
  height: 110px;
  margin: auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
}

.card-grade:last-child{
  margin-bottom: 40px;
}

.grade-letter{
  font-weight: 300;
}

/* About */
.about-body{
  font-weight: 300;
}

.not-found-msg{
  margin: 40px 0;
}