*{
  font-family: 'Poppins', sans-serif;
}

/* Table */
.table-hover tr:hover{ 
  cursor:pointer; 
}
td{
  font-weight: 300;
}

/* Card */
.card-container{
  padding: 40px;
  outline: none;
  margin: 30px 0 60px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-head-title{
  font-weight: 400;
}

.card-sub-title{
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

/* Map */
.map-container{
  height: 400px;
  width: 100%;
  border-radius: 5px;
}

/* Grades */
.grade-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  width: 100%;
  margin-top: 40px;
}
@media (max-width: 1200px) {
  .grade-container{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991px) {
  .grade-container{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 565px) {
  .grade-container{
    grid-template-columns: repeat(1, 1fr);
  }
}
.card-grade{
  width: 200px;
  height: 110px;
  margin: auto;
}
@media (max-width: 454px) {
  .card-grade:last-child{
    margin-bottom: 40px;
  }
}
.grade-letter{
  font-weight: 300;
}

/* About */
.about-body{
  font-weight: 300;
}

.not-found-msg{
  margin: 40px 0;
  text-align: center;
}